@import '@/sass/button.scss';

.sectionTitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.moreInfo {
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 12px;
}

.btnContact {
  @extend .btn;
  position: relative;
  margin: 0 auto;
  padding-right: 42px;

  &::after {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: background-color linear 250ms;
  }
  &:hover::after,
  &:focus::after {
    background-color: var(--primary-color);
  }
}
