@import '@/sass/sectionTitle.scss';

.section {
  padding-bottom: 36px;
  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }
}
.sectionTitle {
  @extend .sectionTitle;
  text-align: center;
  max-width: 368px;
  margin: 0 auto 24px;
}
.separator {
  background-color: var(--primary-color);
  width: 1px;
  height: 48px;
  margin: 0 auto 24px;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-family: Oswald;
  color: var(--primary-color);
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  @media screen and (min-width: 768px) {
    gap: 24px;

    font-size: 100px;
    line-height: 100px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 164px;
    line-height: 164px;
  }
}
.units {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--secondary-color);
  @media screen and (min-width: 768px) {
    line-height: 48px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 48px;
  }
}
