@import '@/sass/button.scss';
@import '@/sass/sectionTitle.scss';

.sliderTitle {
  @extend .sectionTitle;
  max-width: 264px;
  @media screen and (min-width: 768px) {
    max-width: 300px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 398px;
  }
}
.titleWrapper {
  display: grid;
  gap: 24px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 120px;
  }
}
.actionBtns {
  display: flex;
  gap: 12px;
}
.actionsWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @media screen and (min-width: 768px) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -8px;
      width: 1px;
      background-color: var(--primary-color);
      height: 100%;
    }
  }

  & > p {
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: -0.04em;
    text-align: justify;
    color: rgb(from var(--secondary-color) r g b / 0.25);
    @media screen and (min-width: 1280px) {
      align-self: flex-end;
      margin: 0 auto;
    }
  }

  & span {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: -0.04em;
    text-align: justify;
    color: var(--secondary-color);
  }
}
.actionBtnPrev,
.actionBtnNext {
  @extend .btn;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: background-color var(--transition), border-color var(--transition),
    color var(--transition);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-white-color);

  &:hover,
  &:focus {
    background-color: var(--primary-white-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
  }

  &:hover .btnIcon,
  &:focus .btnIcon {
    > path {
      stroke: var(--primary-color);
    }
  }
}
.btnIcon {
  width: 36px;
  height: 36px;
  > path {
    transition: stroke linear 250ms;
  }
}
.actionBtnNext {
  transform: rotate(180deg);
}
