.modalOverlay {
  background-color: var(--overlay-color);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.modalBody {
  position: absolute;
  display: flex;
  background-color: var(--modal-background);
  backdrop-filter: blur(2px);
  z-index: 10;

  top: 36px;
  right: 20px;
  border-radius: 25px;
  overflow: auto;
  @media screen and (min-width: 768px) {
    right: 30px;
  }

  @media screen and (min-width: 1280px) {
    top: 24px;
    right: 100px;
  }
}
