@import '@/sass/button.scss';

.section {
  text-align: center;
  padding: 110px 0 36px;
  @media screen and (min-width: 768px) {
    padding: 128px 0 100px;
  }
  @media screen and (min-width: 1280px) {
    padding: 176px 0 120px;
  }
}
.titleWrapper {
  display: grid;
  gap: 24px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 43px;

    & > :nth-child(1) {
      grid-row: span 2;
      max-width: 300px;
    }
  }
  @media screen and (min-width: 1280px) {
    row-gap: 20px;

    & > :nth-child(1) {
      grid-row: span 2;
      max-width: 486px;
    }

    & > :not(:first-child) {
      margin-left: 130px;
    }
  }
}
.mainTitle {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  word-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 48px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 64px;
  }
}
.mainInfo {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  word-spacing: 0.04em;
  text-align: justify;
  max-width: 363px;
}
.btnMore {
  @extend .btn;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding-right: 48px;
  position: relative;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}
.arrowIcon {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: rotate(-90deg);
  transition: background-color var(--transition);
  padding: 8px;
}
.contactList {
  margin: 24px 0 36px;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% repeat(2, 1fr);
    justify-items: start;
    margin: 16px 0 40px;
    & :last-child {
      justify-self: end;
    }
  }
}
.address {
  margin-bottom: 8px;
}
.address,
.email,
.rights {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: left;
}

.rights {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline;
  }
}
