@import '@/sass/sectionTitle.scss';

.section {
  text-align: center;
  padding-bottom: 36px;
  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }
}

.sectionTitle {
  @extend .sectionTitle;
  max-width: 264px;
}
.titleWrapper {
  display: grid;
  gap: 24px;
  margin-bottom: 36px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
  }
}

.sectionInfo {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: -0.045em;
  word-spacing: 0.04em;
  text-align: justify;
  @media screen and (min-width: 768px) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -11px;
      width: 1px;
      background-color: var(--primary-color);
      height: 100%;
    }
  }
}

.valuesList {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    & > .valuesPoster {
      grid-column: span 2;
    }
  }
  @media screen and (min-width: 1280px) {
    gap: 48px;
  }
}
.valuesItem {
  background-color: #eaedf1;
  padding: 12px;
  height: 197px;
  @media screen and (min-width: 1280px) {
    height: 339px;
    padding: 48px 24px;
  }
}
.valuesItemTitleWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 51px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 94px;
  }
}
.valuesItemTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 32px;
    line-height: 48px;
  }
}

.valuesItemInfo {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: justify;

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 19px;
    margin-top: 24px;
  }
}
.poster {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 100%;
  }
}
