.accordionItem {
  margin-bottom: 16px;
}
.titleWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: color var(--transition);
  margin-bottom: 16px;
  position: relative;
  &:hover {
    color: var(--primary-color);
  }
}

.accordionTitle {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: justify;
  padding-left: 24px;
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 29px;
  }
}
.accordionInfo {
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: justify;
  padding-left: 24px;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.iconMinus {
  & > path {
    fill: currentColor;
  }
}
.iconPlus {
  & > path {
    fill: var(--primary-color);
  }
}

.iconMinus,
.iconPlus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  width: 16px;
  height: 16px;
}
