@import '@/sass/button.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;

  @media screen and (min-width: 768px) {
    padding: 24px 0;
  }
}

.navList {
  list-style: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 12px;
  }
}

.btnContact {
  @extend .btn;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }

  &:hover .arrowIcon,
  &:focus .arrowIcon {
    background-color: var(--primary-color);
  }
}
.btnMenu {
  @extend .btn;
  background-color: var(--button-secondary-color);
  border-radius: 50%;
  padding: 12px;
  width: 40px;
  height: 40px;
  background-image: url(@assets/icons/icon-menu.svg?react);
  background-position: center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    background-color: var(--primary-color);
  }

  &:hover .menuIcon,
  &:focus .menuIcon {
    background-color: var(--primary-color);
  }
}

.menuIcon {
  width: 16px;
  height: 16px;
  transition: background-color var(--transition);
}

.arrowIcon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 3px;
  background-color: var(--secondary-color);
  transition: background-color var(--transition);
}
