@import '@/sass/button.scss';

.container {
  text-align: center;
  width: 100%;
  position: fixed;
  background-color: var(--primary-white-color);
  z-index: 99;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 480px;
  margin: 0 auto;
  padding: 36px 20px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 24px 30px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1440px;
    padding: 24px 100px;
  }
}

.navList {
  list-style: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 12px;
  }
}

.btnContact {
  @extend .btn;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }

  &:hover .arrowIcon,
  &:focus .arrowIcon {
    background-color: var(--primary-color);
  }
}
.btnMenu {
  @extend .btn;
  background-color: var(--button-secondary-color);
  border-radius: 50%;
  padding: 12px;
  width: 40px;
  height: 40px;
  background-image: url(@assets/icons/icon-menu.svg?react);
  background-position: center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    background-color: var(--primary-color);
  }

  &:hover .menuIcon,
  &:focus .menuIcon {
    background-color: var(--primary-color);
  }
}

.menuIcon {
  width: 16px;
  height: 16px;
  transition: background-color var(--transition);
}

.arrowIcon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 3px;
  background-color: var(--secondary-color);
  transition: background-color var(--transition);

  animation-name: scaleUp;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  width: 269px;
  height: 40px;
  color: var(--secondary-color);
  transition: color var(--transition);
  & > svg path[d^='M44.735'] {
    fill: currentColor;
    transition: fill var(--transition);
  }

  &:hover,
  &:focus {
    color: var(--primary-color);
  }
}
