@import '@/sass/button.scss';
@import '@/sass/sectionTitle.scss';
.section {
  padding-bottom: 36px;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 24px;
    padding-bottom: 100px;

    & > :not(:nth-child(2)) {
      grid-column: 2;
    }
    & > :nth-child(2) {
      grid-column: 1;
      grid-row: 1 / span 2;
    }
    & > :last-child {
      align-self: end;
    }
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 120px;
  }
}
.sectionTitle {
  @extend .sectionTitle;
  @media screen and (min-width: 1280px) {
    margin-bottom: 24px;
    max-width: 398px;
    margin: 0 auto;
  }
}
.accordeonList {
  margin-bottom: 36px;
}
.moreInfo {
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 12px;
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 29px;
  }
}

.btnContact {
  @extend .btn;
  position: relative;
  margin: 0 auto;
  display: inline-flex;

  &:hover .arrowIcon,
  &:focus .arrowIcon {
    background-color: var(--primary-color);
  }
}
.arrowIcon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 3px;
  background-color: var(--secondary-color);
  transition: background-color var(--transition);
}
