@import '@/sass/sectionTitle.scss';
.section {
  padding-bottom: 36px;
}
.sectionTitle {
  @extend .sectionTitle;
  text-align: center;
}

.contactLabel {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 8px;
}
.contactIcon {
  width: 24px;
  height: 24px;
  & > path {
    transition: stroke var(--transition);
    stroke: var(--secondary-color);
  }
}
.contactList {
  margin-bottom: 24px;
  & > li {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
    color: var(--secondary-color);
    transition: color var(--transition);
    &:hover,
    &:focus {
      color: var(--primary-color);
    }
    &:hover .contactIcon > path,
    &:focus .contactIcon > path {
      stroke: var(--primary-color);
    }
  }
}
.phoneList {
  & > li {
    display: flex;
    gap: 8px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
.labelWrapper {
  display: flex;
  gap: 8px;
  & > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
  }
}
