@import '@/sass/button.scss';

.container {
  border-top: 1px solid var(--primary-color);
  text-align: center;
  width: 100%;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  max-width: 480px;
  padding: 24px 20px;

  & a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.04em;
    text-align: left;
    color: var(--secondary-color);
    transition: color var(--transition);
    &:hover,
    &:focus {
      color: var(--primary-color);
    }
  }
  & > :first-child {
    align-self: flex-start;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 40px 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    & > :last-child {
      grid-column: span 2;
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 1440px;
    padding: 40px 100px;
  }
}
.arrowUp {
  @extend .btn;
  padding: 0;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 28px;
  right: 20px;

  & > svg {
    transform: rotate(180deg);
    width: 16px;
    height: 16px;

    & > path {
      stroke: currentColor;
    }
  }
  @media screen and (min-width: 768px) {
    right: 30px;
    top: 40px;
  }
  @media screen and (min-width: 1280px) {
    right: 100px;
  }
}

.addressList {
  & > li:not(:last-child) {
    margin-bottom: 16px;
  }

  & p {
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 50% repeat(2, 1fr);
    justify-items: start;
  }
}
