:root {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--secondary-color);
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Oswald', sans-serif;
  }
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

html {
  --primary-color: #97d28b;
  --secondary-color: #173d33;
  --button-secondary-color: #dcefd8;
  --primary-white-color: #ffffff;
  --error-color: #d28b8b;
  --primary-text-color: #3f3f3f;
  --overlay-color: #173d3340;
  --transition: linear 250ms;
}
